@model BTL_VTJob.ViewModel.RegisterVM

@*@{
    ViewData["Title"] = "Register";
}*@
<div class="col-12 wrap-form">
    <div class="container_form">
        <div class="container_form-inner">
            <h2 style="text-align:center; margin: 10px;">Đăng ký</h2>
            <form asp-action="Register" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class=" form-group ">
                    <label asp-for="Hoten" class="control-label"></label>
                    <input asp-for="Hoten" class="form-control" />
                    <span asp-validation-for="Hoten" class="text-danger"></span>
                </div>
                <div class="  form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoDT" class="control-label"></label>
                    <input asp-for="SoDT" class="form-control" />
                    <span asp-validation-for="SoDT" class="text-danger"></span>
                </div>

                <div>
                    <div class="form-group">
                        <label asp-for="MatKhau" class="control-label"></label>
                        <input asp-for="MatKhau" class="form-control" type="password" />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MatKhauXacNhan" class="control-label"></label>
                        <input asp-for="MatKhauXacNhan" class="form-control" type="password" />
                        <span asp-validation-for="MatKhauXacNhan" class="text-danger"></span>
                    </div>
                </div>
                <div style="text-align:center; margin-top: 10px;">
                    <div>
                        <button type="submit" class="btn " style="width:310px">Đăng ký</button>
                    </div>
                    Hoặc
                    <div>
                        <button asp-action="Login" asp-controller="DangKy" class="btn" style="width:310px">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@* </html> *@

@* <script>
    $(document).ready(function () {
        if ($('#isProvider').val() == "User") {
            $('#TenCTProvider').hide();
            $('#AnhProvider').hide();
            $('#MoTaProvider').hide();
            $('#DiaChiProvider').hide();
        }
        else {
            $('#TenCTProvider').show();
            $('#MoTaProvider').show();
            $('#DiaChiProvider').show();
            $('#AnhProvider').show();
        }

        $('#isProvider').change(function () {
            var selectedValue = jQuery(this).val();

            if (selectedValue != "User") {

                $('#TenCTProvider').show();
                $('#MoTaProvider').show();
                $('#DiaChiProvider').show();
                $('#AnhProvider').show();

            }
            else {

                $('#TenCTProvider').hide();
                $('#MoTaProvider').hide();
                $('#DiaChiProvider').hide();
                $('#AnhProvider').hide();
            }
        });
    })

</script>
 *@